body {
    font-family: 'Open Sans', sans-serif;
    margin: 60px;

    
    margin-bottom: 0%;
    
    
}
    .orange{
        color:orange;
    }
    .explore{
        text-decoration: none;
        background-image:linear-gradient(red,orange);
        font-weight: 900;
        padding:10px;
        color: aliceblue;
        border-radius: 8px;
    }
    .flexible{
        display:flex; 
        width: 100%
        
    }

    section{
        margin-bottom: 100px;
        
    }

     

    
    
    
    .border-image{
        border-left: 5px solid;
        border-image: linear-gradient(red,orange);
        border-image-slice: 1;

    }
    .align{
        text-align: center;
    }
   .shadow{
       box-shadow:35px 10px 10px gray;
       padding: 7%;
       border-radius: 10px;
       
   }
   #illustration1{
       background-image: url(illustrators/illustrator-1.png);
       background-repeat:no-repeat;
       background-size: 20%;
       background-position:top;
       
   }
   #illustration2{
       background-image: url(illustrators/illustrator-2.png);
       background-repeat:no-repeat;
       background-size: 20%;
       background-position:top;
   }
   #illustration3{
       background-image: url(illustrators/illustrator-3.png);
       background-repeat:no-repeat;
       background-size: 20%;
       background-position:top;
    }
    .code-pic{
        width:50%;

        
    }
    .back-img{
        
        background-image: url(shapes/shape-7.png);
        background-repeat: no-repeat;
        background-position:bottom;
        background-size: 100px;}
     .short{
         background-image: url(shapes/shape-1.png);
         background-repeat: no-repeat;
         background-position:right;
         background-size: 20%; 
     } 
     #pink{
         background-image: linear-gradient(pink,gray);
         margin: 7px;
         padding: 25px;
         border-radius: 30px;
     }
     #blue{
         background-image: linear-gradient(rgb(99, 99, 165),azure);
         margin:7px;
         padding: 25px;
         border-radius: 30PX;
     }
     #green{
         background-image: linear-gradient(rgb(100, 107, 100),rgb(82, 107, 82));
         margin:7px;
         padding: 25px;
         border-radius: 30PX;
     }
     footer {
         background-color: black;
         text-align: center;
         color: darkgrey;
         


     }

        
        

    

        
    

   
       
   
   
    
    

        